form {
    margin: 15px;
    padding: 15px;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    break-after: avoid;
}
p, label {
    color: navy;
}
input[type=text], input[type=number], input[type=date], #state-22, select, option {
    padding: 10px 13px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 13px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.break {
    display:block;
    clear:both;
}
.break, input[type=date], input[type=checkbox], input[type=radio], .center {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
